<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheet.css">
        <title>Petition</title>

    </head>
    <body>
        <a href='/petition'><h1>PETITION</h1></a>

        {{{body}}}

        <footer>RLD Spiced GmbH</footer>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </body>
</html>
