<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheet.css">
        <title>SUNSHINE</title>
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
    </head>
    <body>
        {{>sunrise}}
        <div id="content">
            {{{body}}}
        </div>
        <footer></footer>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </body>
</html>
