<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheet.css">
        <title>Petition</title>
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        {{>sunrise}}
        <div class="content">
            {{{body}}}
        </div>
        <footer></footer>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- <script src="/canvas.js"></script> -->
    </body>
</html>
