<h2>YOU SHOULD SIGN THIS</H2>



<input type="text" name="first" placeholder="First name">
<input type="text" name="last" placeholder="Last name">
<input type='text' name="signature">
<canvas id="canv" width="200" height="50"></canvas>
