<h2>YOU SHOULD SIGN THIS</H2>


<form method="post">
<input type="text" name="first" placeholder="First name">
<input type="text" name="last" placeholder="Last name">
<canvas id="canv" width="200" height="50"></canvas>
<input type='hidden' name="signature" id="sigInput" >
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button id="submit" type="submit">SUBMIT</button>
</form>

{{>signature}}
