<h2>Log in here:</h2>

<form method="post">
<input type="email" name="email" placeholder="Email Address" required>
<input type="password" name="password" placeholder="Password" required>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button id="submit" type="submit">SUBMIT</button>
</form>

<a href="/register">Need to register?</a>
