<h2>Tell me more</h2>

<form method="post">
<input type="text" name="age" placeholder="Age">
<input type="text" name="city" placeholder="City">
<input type="url" name="url" placeholder="Website">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button id="submit" type="submit">CONTINUE</button>
</form>
