<h1>Tell us more</h1>
<p id="helptext">if you want<p>

<form method="post">
<input type="text" name="age" placeholder="Age">
<input type="text" name="city" placeholder="City">
<input type="url" name="url" placeholder="Website">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button class="submit" type="submit">Continue</button>
</form>
{{>logout}}
