
<h1>WE NEED YOU</h1>
<p>Tell the Sun to give us more hours of daylight during the Berlin winter.</p>


<h2>Register here:</h2>
<form method="post">

<input type="text" name="first" placeholder="First name" required>
<input type="text" name="last" placeholder="Last name" reqired>
<input type="email" name="email" placeholder="Email Address" required>
<input type="password" name="password" placeholder="Password" required>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button class="submit" type="submit">Submit</button>
</form>

<button class="submit">
<a href="/login">Already registered?</a>
</button>
