<h2>Thanks for signing!</H2>

<p>You're the best, we couldn't have done this without you</p>

<div>
    <img src="{{sig}}">
</div>

<a href="/signers">See all {{signerCount}} signers</a>
<a href="/edit">Edit your profile</a>
