<h2>Thanks for signing, {{name}}!</H2>

<p>You're the best, we couldn't have done this without you</p>

<div>
    <img src="{{sig}}">
</div>

<a href="/signers">See all {{signerCount}} signers</a>
<a href="/profile/edit">Edit your profile</a>
<a href="/logout">Log out</a>

{{>delete}}
