<h1>Thanks for signing!</H1>

<p>You're amazing. You've just changed the course of history.</p>

<div>
    <img id="sig" src="{{sig}}">
</div>

<button class="submit">
<a href="/signers">See all {{signerCount}} signers</a>
</button>
{{>editProfile}}
{{>delete}}
{{>logout}}
