/* html {
    background-image: linear-gradient(#22c1c3, #fdbb2d);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
} */
canvas {
    border: 1px black dotted;
}

#sunrise {
    border: 1px solid black;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.5); */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "bebas Neue", cursive;
}
h1 {
    font-size: 80px;
    margin: auto 10px;
}

a,
input,
p {
    font-family: "Open Sans", sans-serif;
}
